:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.phonic-detail-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 1px;
  width: 99.5%;
  margin: 30px 0px 20px 0px;
  background: linear-gradient(145deg, #66d96c, #4cc052);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3),
  inset 2px 2px 5px rgba(255,255,255,0.5),
  inset -3px -3px 7px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 40px;
}

.back-button {
  background: rgba(255, 255, 255, 0.47);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3),
  inset 1px 1px 5px rgba(255,255,255,0.8),
  inset -2px -2px 5px rgba(0,0,0,0.1);
  border: none;
  height: 88%;
  width: 15%;
  font-size: 20px;
  cursor: pointer;
  padding: 4px 4px 7px 4px;
  margin: 6px;
  color: rgba(0, 0, 0, 0.68);
  border-radius: 45px;
}

/* 左滑进入/离开 */
.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform 0.3s cubic-bezier(.24,.24,.01,1), opacity 0.3s ease;
}

.slide-left-enter-from {
  transform: translateX(50%);
  opacity: 0;
}

.slide-left-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.slide-left-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.slide-left-leave-to {
  transform: translateX(-50%);
  opacity: 0;
}

/* 右滑进入/离开 */
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.3s cubic-bezier(.24,.24,.01,1), opacity 0.3s ease;
}

.slide-right-enter-from {
  transform: translateX(-50%); /* 从屏幕左侧进入 */
  opacity: 0;
}

.slide-right-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.slide-right-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.slide-right-leave-to {
  transform: translateX(50%);
  opacity: 0;
}
